/*
    Custom CSS for greencontributor.org
 */
html, body {
    box-sizing: border-box;
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
}

.navbar-brand {
    color: #014220 !important;
}
.navbar-brand img {
    max-height: 62px !important;
}

#slider img {
    height: 80vh;
    width: 100vw;
    object-fit: cover;
    object-position: center;
}
/*Design for testimonial*/
.nm-card {

    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 8px
}

.maintxt {
    color: #1f1f1f;
    font-weight: 500;
    font-size: 14.5px
}

.name {
    color: #000;
    font-size: 16px;
    font-weight: bold
}

.para {
    color: #8c8c8c;
    font-size: 12px;
    position: relative;
    bottom: 3px
}
/*Design for video list section*/
.lightGallery .image-tile {

    position: relative;
    margin:1%;
    width:23%;

}
@media (max-width:767.98px) {
    .lightGallery .image-tile {

        position: relative;
        margin:1%;
        width:98%;

    }
}


.lightGallery .image-tile .demo-gallery-poster {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.lightGallery .image-tile .demo-gallery-poster img {

}
/*Product list design start*/
.carousel-multi-item.v-2.product-carousel .carousel-inner .carousel-item.active,
.carousel-multi-item.v-2.product-carousel .carousel-item-next,
.carousel-multi-item.v-2.product-carousel .carousel-item-prev {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; }
.carousel-multi-item.v-2.product-carousel .carousel-item-right.active,
.carousel-multi-item.v-2.product-carousel .carousel-item-next {
    -webkit-transform: translateX(20%);
    -ms-transform: translateX(20%);
    transform: translateX(20%); }
.carousel-multi-item.v-2.product-carousel .carousel-item-left.active,
.carousel-multi-item.v-2.product-carousel .carousel-item-prev {
    -webkit-transform: translateX(-20%);
    -ms-transform: translateX(-20%);
    transform: translateX(-20%); }
.carousel-multi-item.v-2.product-carousel .carousel-item-right,
.carousel-multi-item.v-2.product-carousel .carousel-item-left {
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0); }
.carousel-multi-item.v-2.product-carousel *, .carousel-multi-item.v-2.product-carousel ::after, .carousel-multi-item.v-2.product-carousel ::before {
    -webkit-box-sizing: content-box;
    box-sizing: content-box; }
.fuchsia-rose-text {
    color: #db0075;
}
.aqua-sky-text {
    color: #5cc6c3;
}
.mimosa-text {
    color: #F0C05A;
}
.list-inline-item .fas, .list-inline-item .far {
    font-size: .8rem;
}
.chili-pepper-text {
    color: #9B1B30;
}
.carousel-multi-item .controls-top .btn-floating {
    background: #F8CDCD;
}
.carousel-multi-item .carousel-indicators li {
    height: .75rem;
    width: .75rem;
    max-width: .75rem;
    background-color: #5cc6c3;
}
.carousel-multi-item .carousel-indicators .active {
    height: 1rem;
    width: 1rem;
    max-width: 1rem;
    background-color: #5cc6c3;
}
.carousel-multi-item .carousel-indicators {
    margin-bottom: -1rem;
}
/*Footer Design */
footer{

}
